.hero {
  background-image: url("../img/patron-hilo-tijeras_1191-488.webp");

  .hero__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0;

    .logo {
      font-family: "Clicker Script", cursive;
      font-size: 2rem;
      letter-spacing: 1px;
    }

    .header__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;

      p {
        font-family: "Josefin Sans", sans-serif;
        font-size: 30px;
        background-color: rgba(255, 192, 203, 0.452);
        padding: 5px;
        border: solid black 2px;
        border-radius: 10px;
      }

      .menu {
        list-style-type: none;
        display: flex;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.4rem;
        gap: 2rem;
        letter-spacing: 2px;
        font-weight: 200px;
      }
    }
  }

  .hero__main {
    display: flex;
    padding-inline: 10rem;

    .hero__main > div {
      flex: 1;
    }

    .hero__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 25px;

      h4 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300px;
        font-size: 1.2rem;
        border: 2px dashed;
        width: max-content;
        padding: 0.6rem;
        padding-bottom: 0.4rem;
        margin-bottom: 1rem;
      }

      h2 {
        font-family: "Varela Round", sans-serif;
        font-size: 4rem;
        line-height: 1;
      }
      h3 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.5rem;
        padding-top: 1rem;
      }
    }

    .hero__img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 3rem;
      padding-left: 100px;
      position: relative;

      img {
        max-width: 300px;
      }
    }
  }
}
